body{
color:#ebcf9c;
background:darkred;
margin:0px;
font-optical-sizing: auto;
margin-bottom: 100px;
}

header{
border-bottom:solid 3px #ebcf9c;
padding: 20px;
font-size: 35px;
color: #ebcf9c;
font-family: "Cinzel", serif;
}

.chamada{
background: goldenrod;
padding-bottom: 80px;
padding-top: 80px;
display: flex;
justify-content: center;
}

.chamada-texto{
    margin-right: 5%;
}

h1{
    font-size: 25px;
}

p{
    font-size: 15px;
}
img{
    height: 200px;
}

.categoria{
    padding-left: 20px;
    padding-right: 20px;
}

.categoria-filme img {
    opacity: 0.5;
    height: 200px;
}

.categoria-filme img:hover {
    opacity: 1.0;
    border: 1px solid #ebcf9c;
}